:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.15),
        hsla(0, 0%, 100%, 0)
    );
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}
body {
    margin-top: 0;
    padding: 0;
    line-height: inherit;
    font-family: Nunito, sans-serif;
    font-family: Source Sans Pro, sans-serif;
    --tw-bg-opacity: 1;
    /* background-color: rgb(14 25 36/var(--tw-bg-opacity)); */
    /* color: var(--bs-body-bg); */
}
.screenChooser {
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
}
.screenChooser form input {
    width: 500px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
    outline: 0;
}

.screenChooser form input:focus {
    border: 2px solid var(--bs-yellow);
}
.screenChooser form button {
    width: 500px;
}
button {
    background: var(--bs-purple);
    padding: 20px 50px;
    border: none !important;
    border-radius: 10px;
}
.screenChooser button {
    width: 200px;
    margin: 5px;
}
header {
    display: flex;
    height: 49px;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
    border-bottom: 1px solid var(--bs-gray-300);
}
.logo {
    text-align: center;
    /* font-size: 34px; */
}
nav ul li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

nav ul li form {
    background: var(--bs-gray-400);
    padding: 1px;
    border-radius: 10px;
}
nav ul li form input {
    background: none;
    border: none;
    /* background: var(--bs-gray-300); */
    border-radius: 10px;
    text-align: center;
    outline: none;
    width: 300px;
    height: 30px;
}
nav ul li a {
    margin-left: 10px;
    /* color: var(--bs-body-bg); */
    color: var(--bs-body-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
}
.table-today {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.table-today table {
    width: 98vw;
    padding: 10px;
    font-size: 24px;
    /* border: 1px solid var(--bs-danger); */
}
.table-today table tr th {
    font-weight: bolder;
    border: 1px solid burlywood;
}
.table-today table tr td {
    text-align: center;
    border: 1px solid burlywood;
}
.table-today table tr td button {
    background: none;
    color: var(--bs-body-bg);
}
.paginate {
    display: flex;
    width: 100px;
    height: 10px;
}
.sm:items-center {
    /* width: 100px; */
}
.error {
    color: var(--bs-danger);
    font-size: 1rem;
}
.ad {
    background: var(--bs-success);
}
.ad input {
    cursor: pointer;
    background: none;
    color: var(--bs-body-bg);
    font-size: 24px;
    outline: none;
    border: none;
}
.form {
    /* width: 100vw; */

    padding: 10px;
    margin: 10px;
}

.add form input {
    /* display: flex; */
    flex-direction: row;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--bs-gray);
    margin: 10px;
    /* background: var(--bs-body-color); */
    padding: 20px;
    font-size: 18px;
    margin: 5px;
}
.profile {

    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
}
.profile-img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--bs-body-color);
}
.profile-inf {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.profile-inf form {
    padding: 10px;
   
}
.inp-data {
    border: 1px solid var(--bs-teal);
    margin: 5px;
    border-radius: 5px;

}

.inp-data input {
    /* width:300px; */
    height: 30px;
    /* margin-top: 5px; */
    background: none;
    outline: none;
    border: none;
}
.inp-data input[type="text"] {
    margin-left: -101px;
    /* text-align: left; */
}

.p-lable {
    text-align: center;
    width: 300px;
    margin-top: 4px;
}
.form-f{
    display: flex;
    flex-wrap: wrap;
}
.btn-save{
    border: none;
    padding: 10px 20px;
    width: 300px;
    align-items: flex-end;
    text-align: center;
    font-size: 24px;
    background: var(--bs-purple);
}
.btn-save input{
    font-size: 24px;
}